@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="submit"],
button {
  border-radius: 0.75rem; /* rounded corners */
}

input[type="text"] {
  border: 2px solid #E5E7EB;
  background-color: #fff;
  color: #000;
}

input[type="submit"],
button {
  border: 2px solid;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #4B5563;
}

button {
  background-color: #EF4444;
  border-color: #EF4444;
}

button:hover {
  background-color: #DC2626;
}

.itemcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  border: 2px solid #D1D5DB;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(25% - 2rem); /* 4 columns */
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  color: #4B5563;
}

.card .dropdownMenu {
  margin-top: 1rem;
}

.card .dropdownMenu summary {
  font-weight: 600;
  cursor: pointer;
}

.card .dropdownMenu p {
  font-size: 0.875rem;
  color: #6B7280;
}
